@use '../../../../styles/vars' as *;

.pricing_content {
  margin-top: $gap-xlarge;
  margin-bottom: $gap-xxlarge;
  .heading {
    margin-bottom: $gap-large;
    h1,
    h2 {
      text-align: center;
    }
  }
}
