@use '../../../styles/vars' as *;

.web_design_importance {
  padding: $gap-xlarge 0;

  .page__inner {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    // gap: $gap-large;

    @media (min-width: $breakpoint-lg) {
      // gap: $gap-xlarge;
    }
    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
    }
  }
  h1 {
    text-align: start;
  }

  .image {
    display: none;
    max-width: 400px;
    height: 500px;
    justify-self: center;
    margin-right: $gap-large;
    img {
      object-fit: cover;
      border-radius: $border-radius-card;
      width: 100%;
      height: 100%;
    }
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }

  .content {
    .web_design_info {
      display: flex;
      flex-direction: column;
      gap: $gap-large;
      margin-top: $gap-large;

      .info_title {
        margin-bottom: $gap-regular;
      }
    }
  }
}
