@use '../../../../styles/vars' as *;

$feature-height: 325px;

.why_choose_us {
  background-color: $primary-background;
  .content {
    p {
      margin: 0 auto;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-medium;
    margin-top: $gap-large;
    margin-bottom: $gap-xlarge;

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: $feature-height;

      .icon__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $secondary-background;
        margin-bottom: $gap-medium;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: $primary-accent;
          stroke-width: $icon-stroke-width;
        }
      }
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: $gap-small;
        height: 48px !important;
      }
    }

    @media (min-width: $breakpoint-lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-medium;
    }
    @media (min-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
