@import '../../../styles/vars';

.pricing {
  padding: $gap-xlarge 0;
  width: 100%;

  h1 {
    margin-bottom: $gap-large;
  }

  .pricing__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: $gap-large;
    width: 100%;

    .pricing__item {
      width: 100%;
      max-width: 325px;

      .icon__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border-radius: 8px;
        margin-bottom: $gap-medium;

        .icon {
          height: 18px;
          width: 18px;
          stroke-width: $icon-stroke-width;
        }

        &.primary {
          background: $primary-background;
          .icon {
            color: $primary-accent;
          }
        }
        &.secondary {
          background: $primary-accent;
          .icon {
            color: $primary-background;
          }
        }
      }
      .title {
        font-size: $fs-medium;
        font-weight: 700;
        margin-bottom: $gap-regular;
      }
      .price__container {
        display: flex;
        align-items: flex-end;
        gap: $gap-tiny;
        .price {
          font-size: $fs-xxlarge;
          font-weight: 700;
          color: $primary-accent;
        }
        .price__subheader {
          font-size: $fs-small;
          color: $secondary-text;
          font-weight: 400;
          padding-bottom: 8px;
        }
      }

      .features {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $gap-regular;
        margin-bottom: $gap-medium;

        .feature {
          display: flex;
          gap: $gap-tiny;
          font-size: $fs-regular;

          .feature__icon {
            margin-top: 2px;
            .icon__check,
            .icon__x {
              height: 32px;
              width: 32px;
            }
            .icon__check {
              color: $primary-accent;
            }
          }
          .feature__text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            color: $secondary-text;
          }
        }
        .included {
          .feature__text {
            font-weight: 500;
            color: $primary-text;
          }
        }
      }
    }
    @media (min-width: $breakpoint-xl) {
      justify-content: space-between;
    }
  }

  .pricing__item.primary {
    background: $primary-accent;
    color: $primary-background;

    .price {
      color: $primary-background !important;
    }
    .price__subheader {
      color: $primary-background !important;
    }

    .features {
      .icon__check,
      .icon__x {
        color: $primary-background !important;
      }
      .feature__text {
        color: $primary-background !important;
      }
    }
  }
}
