// Colors
$primary-text: #212a33;
$secondary-text: #444444;
$secondary-headerr: #484f56;
$primary-background: #ffffff;
$secondary-background: #eaeaea;
$primary-accent: #553acf;
$secondary-accent: #276aed;

$border-color: #d9d9d9;
$secondary-border-color: #575757;

// Typography
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

$max-width-paragraph: 600px;

$fs-small: 14px;
$fs-regular: 16px;
$fs-medium: 20px;
$fs-large: 24px;
$fs-xlarge: 32px;
$fs-xxlarge: 40px;
$fs-header: 36px;

// Spacing
$spacing-unit: 8px;
$spacing-small: $spacing-unit;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 3;

// Gaps
$gap-tiny: 8px;
$gap-small: 12px;
$gap-regular: 16px;
$gap-medium: 24px;
$gap-large: 36px;
$gap-xlarge: 60px;
$gap-xxlarge: 120px;
$gap-xxxlarge: 200px;
// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Border
$border-radius: 12px;
$border-radius-button: 12px;
$border-width: 1px;

// Z-index
$z-index-dropdown: 1000;
$z-index-modal: 2000;
$z-index-tooltip: 3000;

// Widths
$max-width-container: 1100px;
$max-width-percentage: 90%;

// Card
$card-background: #fafafa;
$border-radius-card: 15px;
$box-shadow-card: rgba(0, 0, 0, 0.16) 0px 3px 6px,
  rgba(0, 0, 0, 0.23) 0px 3px 6px;
$fs-card-text: $fs-small;

// Icons
$icon-stroke-width: 0.3;
