@import '../../../styles/vars';

.hero {
  display: flex;

  flex-direction: column;
  position: relative;

  align-items: center;

  width: 100%;
  background: $primary-accent;

  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-width-container;
    width: $max-width-percentage;
    margin-top: $gap-xlarge;
    margin-bottom: $gap-large;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: $gap-xlarge;
      p {
        max-width: 350px;
      }

      .buttons {
        display: flex;
        gap: $gap-large;
        margin-top: $gap-large;
      }
    }
    .image {
      width: 200px;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    @media (min-width: $breakpoint-lg) {
      justify-content: space-between;
      flex-direction: row;
      margin-top: $gap-xxlarge;
      .content {
        align-items: flex-start;
        h1,
        .section-title {
          text-align: left;
        }
        p,
        .section-paragraph {
          text-align: left;
        }
      }
      .image {
        width: 400px;
      }
    }
  }

  .waves {
    background-image: url('/images/home_hero_waves.svg');
    background-size: 100% 110px;
    background-repeat: no-repeat;
    height: 110px;
    width: 100%;
  }
}
