---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import '../styles/global.scss';
import { Hero } from '../components/Home/Hero';
import { WhyChooseUs } from '../components/Home/WhyChooseUs';
import { BusinessModelInfo } from '../components/Home/BusinessModelInfo';
import { PerformanceInfo } from '../components/Home/PerformanceInfo';
import { Pricing } from '../components/Home/Pricing';
---

<Layout>
	<Navbar currentPath={Astro.url.pathname} client:load />
	<Hero />
	<WhyChooseUs />
	<BusinessModelInfo />
	<PerformanceInfo />
	<Pricing />
	<div class="spacer"></div>
</Layout>
