@use '../../../../styles/vars' as *;

.hero {
  display: flex;

  flex-direction: column;
  position: relative;

  align-items: center;

  width: 100%;
  background: $primary-accent;

  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-width-container;
    width: $max-width-percentage;
    margin-top: $gap-xlarge;
    margin-bottom: $gap-large;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: $gap-xlarge;
      p {
        max-width: 350px;
      }

      .buttons {
        display: flex;
        gap: $gap-large;
        margin-top: $gap-large;
      }
    }
    .image {
      width: 200px;
      height: 143px;
      img {
        object-fit: contain;
        width: 200px;
        height: 143px;
      }
    }
    @media (min-width: $breakpoint-lg) {
      justify-content: space-between;
      flex-direction: row;
      margin-top: $gap-xxxlarge;
      margin-bottom: $gap-xxxlarge;
      .content {
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        h1 {
          text-align: left;
        }
        p {
          text-align: left;
        }
      }
      .image {
        width: 400px;
        height: 287px;
        img {
          width: 400px;
          height: 287px;
        }
      }
    }
  }

  .waves {
    height: 110px;
    width: 100%;
    overflow: hidden;

    svg {
      width: 100%;
      height: 112px;
      display: block;
    }
  }
}
